<section class='welcome'>
  <h1>Welcome to RubberTreee!</h1>

  <p>Interested in buying or selling items without the fuss of paying any fees? Well that's exactly what RubberTreee offers!</p>

  <p>Buyers can build up 'tap points' which can be used as credit to buy anything listed on the platform!</p>

  <p>Sellers can also build up 'tap points' by authorising adverts to appear on their listings.</p>

  <p>You can use real money if you don't want to spend any 'tappoints' on a listing.</p>
</section>

<%= link_to 'register', new_registration_path, class: 'welcome register'%>
